page-register {
    .logo{
        margin: auto;
        padding-bottom: 20px;
    }
    .back{
        font-size: 40px;
        /* margin-top: -100px; */
        z-index: 2;
        position: absolute;
        padding: 20px;
        top: 10px;
        left: 10px;
    }
    .wrapper{
        padding: 180px 50px;
        background-color: color($colors, primary);
        height: 100%;
    }
    ion-item{
        border-radius: 5px;
        margin-bottom: 10px !important;
    }

    hr{
        border-top: 1px solid white !important;
        margin-top: 30px;
    }

    ion-card-header.card-header {
		color: #fff!important;
    }
    .text-input, {
        color: black;
    }
    a,	ion-card-header.card-header {

        text-align: center;
        padding-top: 20px;
        font-size: 18px;
        color: color($colors, danger)!important;
    }
    p,
	ion-card-header.card-header {
        color: #fff!important;
        text-align: center;
        padding-top: 20px;
        font-size: 16px;
	}
    button {
        background-color: white !important;
        color: color($colors, danger)!important;
        margin: auto!important;
        font-size: 16px!important;
        margin-top: 20px!important;     
    }


}
