<ion-content padding>
        <div id="header">
            <h1 class="welcome">Drinks</h1>
            <p class="appname">Suggestions</p>
        </div>  
      <ion-row>
          <ion-col col-sm-6><h4 class="filtername">Type</h4></ion-col>
          <ion-col col-sm-6><h4 class="filtername">Diets</h4></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-sm-6>  
            <select class="filter" [(ngModel)]="type" (change)="filterExact('type', type)">
              <option value="Coffee">Coffee</option>
              <option value="Tea">Tea</option>
              <option value="Milo">Milo</option>
              <option value="Assortments">Assortments</option>
            </select>
            <button *ngIf="type" (click)="removeFilter('type')">Remove Type</button>
        </ion-col>
        <ion-col col-sm-6>
            <select class="filter" [(ngModel)]="diets" (change)="filterExact('diets', diets)">
              <option value="Vegetarian">Vegetarian</option>
              <option value="Gluten-Free">Gluten-Free</option>
              <option value="Peanut-Free">Peanut-Free</option>
            </select>
            <button *ngIf="diets" (click)="removeFilter('diets')">Remove Dietary Restrictions</button>
        </ion-col>  
    </ion-row>
      <ion-grid>

        <ion-row>
          <ion-col> 
    
            <ion-card  class="bfcard" *ngFor="let item of FilteredBreakfastCards; let i = index; ">
              <img (click)="direct(item.name)" src="{{ item.photo }}" alt="">
              <div class="info" >
                <h2 class="name">{{ item.name }}</h2>
                 <h3 class="cuisine">{{ item.type }}</h3>  
              </div>
              
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
    

