page-coffee {
    #header{
        height: 120px;
    }
    .welcome{
        position: absolute;
        top: 8%;
        font-size: 30px;
        width: 100%;
        font-weight: 900;
        left: 10%;
        color: color($colors, primary);
        font-family: Open sans;
        letter-spacing: 1px;
        transform: scale(1, 1.2);   
        text-transform: uppercase;
        padding: 10px;
    }
    .appname{
        position: absolute;
        top: 12%;
        font-size: 20px;
        width: 100%;
        font-weight: 400;
        left: 10%;
        color: color($colors, secondary);
        font-family: Open sans;
        letter-spacing: 1px;
        transform: scale(1, 1.1); 
        margin-top: 2px;
        padding:10px;
    }
    .card-md {
        margin:0px;
        width: calc(100%);
    }


    ion-card {
        position: relative;
        text-align: center;
        padding: 0px;
        margin: 0px;
      }

    ion-range{
        padding: 0px;
    }

      .grid {
          padding:0px;
      }


    .card-title {
        top: 100%;
        font-size: 1em;
        width: 100%;
        font-weight: bold;
        color: black;
        text-align: center;
      }

    .title{
        font-size: 12px;
    }

    .kopio{
    height: 160px;
    }

    .kopio img{
    margin: auto;
    }

    .kopic{
    height: 160px;
    }
    .sweetnesslevel{
        padding-right: 0px;
        float: right;
    }
    .sugar{
        padding: 0px;
        padding-top: 5px;

        margin: 0px;
    }
    .range-md {
        padding: 0px;
    }
}
