
<ion-content padding>
    <div id="header">
        <h1 class="welcome">Cultural Tips</h1>
        <p class="appname">at your fingertips</p>
    </div>  
  <ion-grid>
      <ion-row>
          <p class="header">Traditional Singaporean Style Coffee</p>
          <p class="title">Coffee beans are wok-roasted with sugar, margarine and at times maize. 
            The beans are then grounded and brewed with a sock like clothstrainer</p>
          <p>Typically Served in thick white china cups or a to go plastic bag</p>
      </ion-row>
   

<!-- for loop row! -->

            <ion-row>
              <ion-col> 
                  <ion-card class="kopio" *ngFor="let item of CoffeeCards; let i = index;trackBy:trackByIndex;">
                     <ion-row>                  
                       <ion-col col-4>
                       
                       <img src="{{item.photo}}" alt="">
                       
                       <div class="card-title">{{item.name}}{{ kopisugarvalue }}
<!--                           <p *ngIf="i == 0">{{ kopisugarvalue }}</p>
                          <p *ngIf="i == 1">{{ kopisugarvalue1 }}</p> -->

                       </div>
                       <div class="card-subtitle"></div>
                     </ion-col>
     
                     <ion-col col-8>
                       <ion-label>
                         <p class="title"> {{ item.description }}</p>
                         <p class="title"> {{ item.relation }}</p>
                         <p class="title"> {{ i }}</p>
                       </ion-label>
                         <ion-item>
                            <ion-label class="sugar">Sugar level </ion-label> 
                            <ion-range min="0" max="30" step="10" snaps="true" color="secondary"
                              [(ngModel)]="kopisugarlevel"
                              (ngModelChange)="onChangekopiSugar(i)">
                               <ion-label range-left>0%</ion-label>
                               <ion-label range-right>100%</ion-label>
                            </ion-range>
                         </ion-item>
                     </ion-col>  
                   </ion-row>
                   </ion-card>
                 </ion-col>
             </ion-row>

  </ion-grid>

</ion-content>
