page-culture {
    #header{
        height: 120px;
    }
    .welcome{
        position: absolute;
        top: 8%;
        font-size: 30px;
        width: 100%;
        font-weight: 900;
        left: 10%;
        color: color($colors, primary);
        font-family: Open sans;
        letter-spacing: 1px;
        transform: scale(1, 1.2);   
        text-transform: uppercase;
        padding: 10px;
    }
    .appname{
        position: absolute;
        top: 12%;
        font-size: 20px;
        width: 100%;
        font-weight: 400;
        left: 10%;
        color: color($colors, secondary);
        font-family: Open sans;
        letter-spacing: 1px;
        transform: scale(1, 1.1); 
        margin-top: 2px;
        padding:10px;
    }
.cards{
    height: 600px;
    margin-top: 60px;
}

.class1 img{
    width: 100px !important;
    height: 100px !important;
}
.swiper-slide img {
    width: auto;
    max-width: 30%;
    height: auto;
    max-height: 50%;
    margin-top: 10px;
}
.class1 h2{
    margin-top: 10px;
    font-size: 30px;
    font-family: Open Sans;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    padding: 0px 30px;
}

.class1 p{
    padding: 10px 30px;
    font-size: 22px;
    font-family: Open Sans;
    font-weight: 400;
    color: white;

}
}
